In [1]:
import os

In [2]:
!pwd

/Users/pinaki/Library/CloudStorage/OneDrive-Personal/Documents/Analytics_Projects/POCs_Python/json_validator/notebooks

In [3]:
path_dir = '/Users/pinaki/Library/CloudStorage/OneDrive-Personal/Documents/Analytics_Projects/POCs_Python/json_validator/'

os.chdir(path_dir)

In [4]:
!pwd

/Users/pinaki/Library/CloudStorage/OneDrive-Personal/Documents/Analytics_Projects/POCs_Python/json_validator

In [5]:
import pandas as pd
import numpy as np
import datetime 
import re

import json

In [6]:
from dataclasses import dataclass

In [7]:
from json_create import create_test_jsons

In [8]:
from json_validator import JsonDataExtractor

In [9]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [10]:
path_data = 'data_op_json/'
path_data

'data_op_json/'

# Write data to Json file

l_json_data = create_test_jsons(path_data, 10, False, 0.5)
len(l_json_data)

l_json_data

# Load from Json file

# Things to check

- json is not empty
- imageid is not empty .. if it is .. capture imageid from filename
- items key is not absent
- items' value is a list that is not empty
- item upc key is not absent
- item upc value is not empty

# Run for multiple jsons

In [11]:
filenames = [f"{idx}"*5 + '.json' for idx in range(0, 10)]
filenames

['00000.json',
 '11111.json',
 '22222.json',
 '33333.json',
 '44444.json',
 '55555.json',
 '66666.json',
 '77777.json',
 '88888.json',
 '99999.json']

In [12]:
paths_json = [path_data + filename for filename in filenames]
paths_json

['data_op_json/00000.json',
 'data_op_json/11111.json',
 'data_op_json/22222.json',
 'data_op_json/33333.json',
 'data_op_json/44444.json',
 'data_op_json/55555.json',
 'data_op_json/66666.json',
 'data_op_json/77777.json',
 'data_op_json/88888.json',
 'data_op_json/99999.json']

In [13]:
l_json_empty = []
df_item_all = pd.DataFrame()
df_json_level_flags_all = pd.DataFrame()
df_item_level_flags_all = pd.DataFrame()

for idx, path_json in enumerate(paths_json):
    file_image = path_json.split("/")[-1]
    print("\n\n", "="*10, idx, file_image, "="*10)
    json_obj = JsonDataExtractor(path_json)
    json_obj.run()
    if json_obj.flag_json_isempty==1:
        l_json_empty.append(file_image)
        continue
    if idx==0:
        df_item_all = json_obj.df_item
        print(f"{df_item_all.shape = }")
        df_json_level_flags_all = json_obj.df_json_level_flags
        print(f"{df_json_level_flags_all.shape = }")
        df_item_level_flags_all = json_obj.df_item_level_flags
        print(f"{df_item_level_flags_all.shape = }")
    elif idx>0:
        df_item_all = pd.concat([df_item_all, json_obj.df_item])
        df_json_level_flags_all = pd.concat([df_json_level_flags_all, json_obj.df_json_level_flags])
        df_item_level_flags_all = pd.concat([df_item_level_flags_all, json_obj.df_item_level_flags])

 ========== 0 00000.json ==========
json data is empty


 ========== 1 11111.json ==========


 ========== 2 22222.json ==========
items info is empty
items info is empty


 ========== 3 33333.json ==========


 ========== 4 44444.json ==========


 ========== 5 55555.json ==========


 ========== 6 66666.json ==========


 ========== 7 77777.json ==========
items info is empty
items info is empty


 ========== 8 88888.json ==========


 ========== 9 99999.json ==========

In [14]:
# empty files 
f"cnt of empty files = {len(file_image)}"
l_json_empty[0:4]

'cnt of empty files = 10'

['00000.json']

In [15]:
df_item_all.shape
df_item_all

(74, 2)

            upc      status
11111  729377.0    detected
11111  900900.0       empty
11111  683109.0
11111  443842.0       empty
11111  805855.0       empty
...         ...         ...
99999       NaN
99999  352695.0       empty
99999  628156.0       empty
99999  330536.0  undetected
99999  802191.0  undetected

[74 rows x 2 columns]

In [16]:
df_json_level_flags_all.shape
df_json_level_flags_all

(9, 14)

,flag_imageid_isna,flag_store_isna,flag_zone_isna,flag_aisle_isna,flag_section_isna,flag_image_issue_isna,flag_items_isna,flag_imageid_isempty,flag_store_isempty,flag_zone_isempty,flag_aisle_isempty,flag_section_isempty,flag_image_issue_isempty,flag_items_isempty
imageid,,,,,,,,,,,,,,
11111,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22222,1,1,1,0,0,0,1,NaN,NaN,NaN,0.0,0.0,0.0,NaN
33333,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44444,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55555,0,0,1,1,1,1,0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
66666,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
77777,1,1,0,1,1,1,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN
88888,0,0,0,1,1,1,0,0.0,0.0,0.0,NaN,NaN,NaN,0.0
99999,1,1,1,1,1,0,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [17]:
df_item_level_flags_all.shape
df_item_level_flags_all

(74, 5)

,upc,flag_upc_isna,flag_status_isna,flag_upc_isempty,flag_status_isempty
imageid,,,,,
11111,upc_0,0.0,0.0,0.0,0.0
11111,upc_1,0.0,0.0,0.0,0.0
11111,upc_2,0.0,0.0,0.0,1.0
11111,upc_3,0.0,0.0,0.0,0.0
11111,upc_4,0.0,0.0,0.0,0.0
...,...,...,...,...,...
99999,upc_0,0.0,0.0,NaN,1.0
99999,upc_1,0.0,0.0,0.0,0.0
99999,upc_2,0.0,0.0,0.0,0.0
99999,upc_3,0.0,0.0,0.0,0.0
99999,upc_4,0.0,0.0,0.0,0.0

# Aggregated Metrics

In [19]:
f"cnt of upc: {len(set(df_item_all['upc']))}"
df_item_all.groupby(['status'])['upc'].count().to_frame()

'cnt of upc: 73'

            upc
status
              5
detected     20
empty        30
undetected   16

In [20]:
df_json_level_flags_all.sum().to_frame()

                            0
flag_imageid_isna         3.0
flag_store_isna           3.0
flag_zone_isna            3.0
flag_aisle_isna           4.0
flag_section_isna         4.0
flag_image_issue_isna     3.0
flag_items_isna           2.0
flag_imageid_isempty      0.0
flag_store_isempty        0.0
flag_zone_isempty         0.0
flag_aisle_isempty        0.0
flag_section_isempty      0.0
flag_image_issue_isempty  0.0
flag_items_isempty        0.0

In [21]:
df_item_level_flags_all.groupby(['imageid']).sum()

/var/folders/td/2_h8bs9n473_ytg0ddn36lkm0000gn/T/ipykernel_10198/2718936052.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_item_level_flags_all.groupby(['imageid']).sum()

,flag_upc_isna,flag_status_isna,flag_upc_isempty,flag_status_isempty
imageid,,,,
11111,0.0,0.0,0.0,3.0
33333,0.0,0.0,0.0,1.0
44444,0.0,0.0,0.0,1.0
55555,0.0,0.0,0.0,0.0
66666,0.0,0.0,0.0,0.0
88888,0.0,0.0,2.0,0.0
99999,0.0,0.0,0.0,1.0

In [22]:
df_item_level_flags_all.groupby(['imageid'])['upc'].count().to_frame()

         upc
imageid
11111     15
33333      3
44444     16
55555     14
66666      6
88888     15
99999      5